<!doctype html>
<html ng-app="aboutus">
	<head>
		<title>FEP进托邦</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<% include header.ejs %>
		<div id="aboutus-container">
			<div class="title">FEP进托邦——FE Plus,每天进步，每天做更多一点</div>
			<div class="content">
				把我们对前端和互联网的理解和感悟记录下来，希望能让来到这里的你有所得着。
				<br />
				总结，分享，共赢，希望在进步的道路上我们能是同路人，能携手共同前进。
				<br />
				我们是百度外卖用户端FE团队。
			</div>
		</div>
		<% include footer.ejs %>
	</body>
</html>