<!doctype html>
<html ng-app="article">
	<head>
		<title>FEP进托邦</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<% include header.ejs %>
		<div id="article-list-container" ng-controller="articleController">
			<div class="post-lists">
				<ul class="post-list">
					<articlecard ng-repeat="article in articleList" article-data="article">
					</articlecard>
				</ul>
			</div>
		</div>
		<% include footer.ejs %>
	</body>
</html>