<!doctype html>
<html>
	<head><title>FEP进托邦</title></head>
	<body>
		<div id="content">Hello FEP!!!!!<%= content %></div>
	</body>
	<script type="text/javascript" src="scripts/libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="scripts/libs/three.js/three.min.js"></script>
</html>