.clearfix {
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

.ng-cloak{display:none;} 

.hide{display:none;}

@titleColor : #606566;
@contentColor : #999;
@highlightColor: #18309a;
@backgroundColor: #f8f8f8;